body {
  margin: 0;
}

.main {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}

.left {
  width: 600px;
}

.right {
  width: 600px;
}

.invalid-message {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: var(--bs-form-invalid-color);
}
